<!-- Add html to appear below each page's text here (e.g., footer) --> 

<br>
<br>
<footer>
<p style="font-size:12pt">Copyright (c) 2023 RUGGED licensed under
<a href="http://creativecommons.org/licenses/by-nd/4.0/">CC-BY-ND-4.0</a>
	<a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/">
		<img alt="Creative Commons License" style="border-width:0"
		     src="https://i.creativecommons.org/l/by-nd/4.0/88x31.png">
	</a>
</p>
<p>Made using 
<a href="https://gitlab.com/joao-o-santos/make-it-stop">make it_stop</a>
static website generator<p>
</footer>

</body>
</html>
